.form-control {
  width: 20rem;
}
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #fff; /* Thay đổi màu nền nếu cần */
  /* Các thuộc tính khác cho header của bạn */
}
