body-my-address {
  background-color: #eee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #2f62c6,
    #ba54b8,
    #ff5286,
    #ff8048,
    #ebbc12
  );
}
.card-1 {
  width: 400px;
  border-radius: 18px;
  border: none;
}
.card-2 {
  border-radius: 20px;
}

.card-child {
  border: 3px solid #e19894;
  border-radius: 16px;
}

.circle {
  background-color: #fee5e9;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  color: #af6b78;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.circle-2 {
  background-color: #fbebdf;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  color: #ea9253;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.circle-3 {
  background-color: #9a6b73;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
