.navbar-link .container .nav-scroller > nav > a:hover,
.navbar-link .container .nav-scroller > nav > a:focus {
  text-decoration: none;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-item {
  flex-grow: 1;
  text-align: center;
}

.ant-menu-item:hover {
  color: #ff4d4f;
}
